span.DotaTooltips:hover {
  background: rgba(128,0,0,0.2);
}

.itemIconWithTooltip {
	position:relative;
}
.DotaTooltip {
  visibility: hidden;
	position: absolute;
	text-align: left;
	float: left;
	border: solid #000 1px;
	background-color: #111;
	width: 400px;
	padding: 20px;
  margin: 10px;
  border-radius: 8px;
  opacity: 0.95;
	background: -moz-linear-gradient(top, #2e2e2d, #000000);
  background: -webkit-linear-gradient(top, #2e2e2d, #000000);
  background: -o-linear-gradient(top, #2e2e2d, #000000);
  background: -moz-linear-gradient(top, #2e2e2d, #000000);
  background: linear-gradient(top, #2e2e2d, #000000);
	z-index: 2147483647;

  transition: visibility 0.2s, opacity 0.2s linear;
}
.DotaTooltip img {
	opacity: 1 !important;
}

/* specific tooltip style changes for item/ability/hero types */
.DotaTooltip_hero {
	width:auto;
}
.DotaTooltip .itemIcon, .DotaTooltip .abilityIcon {
	float:left;
	width:74px;
	height:56px;
	margin-right:4px;
}
.DotaTooltip > .itemName {
	margin:7px 0px 3px 82px;
	color:#ffffff;
	font-size:18px;
	font-family:KoreanFont,georgia,serif;
	text-transform:uppercase;
}
.DotaTooltip .itemCMB {
	padding: 4px 0;
}
.DotaTooltip .abilityName {
	margin:7px 0px 6px 0px;
	font-weight:normal;
	color:#ffffff;
	font-size:18px;
	font-family:KoreanFont,georgia,serif;
	text-transform:uppercase;
}
.DotaTooltip .abilityCMB {
	padding: 4px 0;
}
.DotaTooltip .quality_rare {
	color:#1a87f9;
}
.DotaTooltip .quality_artifact {
	color:#e29b01;
}
.DotaTooltip .quality_secret_shop {
	color:#ffffff;
}
.DotaTooltip .quality_consumable {
	color:#1d80e7;
}
.DotaTooltip .quality_common {
	color:#2bab01;
}
.DotaTooltip .quality_epic {
	color:#b812f9;
}
.DotaTooltip .quality_component {
	color:#ffffff;
}
.DotaTooltip .goldIcon {
	float:left;
	margin:2px 4px 0 0;
}
.DotaTooltip .goldCost {
	font-weight:bold;
	color:#f5c433;
	font-size:15px;
}
.DotaTooltip .description {
	font-weight:bold;
	color:#c0c0c0;
	font-size:14px;
	line-height:21px;
	margin-top:9px;
	padding-left:2px;
	margin-bottom: 13px;
}
.DotaTooltip .notes {
	font-weight:bold;
	color:#6fe771;
	font-size:14px;
	line-height:21px;
	padding-left:2px;
	padding-bottom: 8px;
}
.DotaTooltip .attribVal {
	color:#fbb040;
}
.DotaTooltip .attribs {
	font-weight:bold;
	color:#7a7a7a;
	font-size:15px;
	line-height:21px;
	margin:6px 0 0 11px;
	padding-left:2px;
}
.DotaTooltip .attribValText
{
	color:#c0c0c0;
}
.DotaTooltip .lore {
	clear:right;
	color:#afafaf;
	font-size:11px;
	line-height:18px;
	padding:4px 0 4px 2px;
}
.DotaTooltip .mana {
	float:right;
	width:168px;
}
.DotaTooltip .cooldownMana {
	color:#fbb040;
	font-size:13px;
	margin:8px 0 10px 0;
	line-height:22px;
	height:22px;
	padding-left:2px;
}
.DotaTooltip .manaImg, .DotaTooltip .cooldownImg {
	margin:0 6px 0 0;
	display:block;
	float:left;
}
.DotaTooltip .abilityHR1, .DotaTooltip .abilityHR2 {
	background-repeat:no-repeat;
	height:2px;
	width: 100%;
	margin:5px 0px;
	background: url( 'http://cdn.dota2.com/apps/dota2/images/tooltips/abil_hr_1.png' ) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.DotaTooltip .abilityHR2 {
	background:url( 'http://cdn.dota2.com/apps/dota2/images/tooltips/abil_hr_2.png' ); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.DotaTooltip .abilityTarget {
	color:#ffffff;
	font-size:14px;
	font-family:KoreanFont,arial, helvetica, sans-serif;
	font-weight:bold;
	line-height:20px;
	padding: 7px 0;
}
.DotaTooltip .abilityTarget .attribVal {
	color:#ffffff;
}
.DotaTooltip .abilityDmg .attribVal, .DotaTooltip .abilityAttrib .attribVal {
	color:#888888;
}
.DotaTooltip .abilityDesc {
	color:#c6c6c6;
	line-height:20px;
	font-size:14px;
	margin-bottom:6px;
	font-weight:bold;
	padding:4px 0;
}
.DotaTooltip .abilityNotes {
	color:#6fe771;
	line-height:20px;
	font-size:14px;
	margin-bottom:6px;
	font-weight:bold;
}
.DotaTooltip .abilityDmg, .DotaTooltip .abilityAttrib {
	font-size:14px;
	font-family:KoreanFont,arial, helvetica, sans-serif;
	font-weight:bold;
	line-height:20px;
	color:#c6c6c6;
	padding: 4px 0;
}
.DotaTooltip .abilityCMB .mana,.DotaTooltip .abilityCMB .cooldown {
	color:#777777;
	font-family:KoreanFont,arial, helvetica, sans-serif;
	font-weight:normal;
}
.DotaTooltip .abilityLore {
	color:#a8a8a8;
	font-family:KoreanFont,arial, helvetica, sans-serif;
	font-size:11px;
	line-height:16px;
	text-align:left;
}
.DotaTooltip .abilityCMB .cooldownMana
{
	margin:6px 0px 2px 0px;
}

/* hero tips */
.DotaTooltip .heroPrimaryStats {
	width:180px;
	height:62px;
	position:relative;
	margin:0 auto;
	overflow:visible;
}
.DotaTooltip .overviewIcon_Primary_str {
	position:absolute;
	left:-1px;
	top: 42px;
	z-index:4;
}
.DotaTooltip .overviewIcon_Primary_agi {
	position:absolute;
	left:-1px;
	top: 21px;
	z-index:4;
}
.DotaTooltip .overviewIcon_Primary_int {
	position:absolute;
	left:-1px;
	top: 0px;
	z-index:4;
}
.DotaTooltip .overviewIcon_Int {
	position:absolute;
	left:1px;
	top:2px;
	z-index:5;
}
.DotaTooltip .overviewIcon_Agi {
	position:absolute;
	left:1px;
	top:23px;
	z-index:5;
}
.DotaTooltip .overviewIcon_Str {
	position:absolute;
	left:1px;
	top:44px;
	z-index:5;
}
.DotaTooltip .overviewIcon_Attack {
	position:absolute;
	left:104px;
	top:2px;
}
.DotaTooltip .overviewIcon_Speed {
	position:absolute;
	left:97px;
	top:23px;
}
.DotaTooltip .overviewIcon_Defense {
	position:absolute;
	left:102px;
	top:44px;
}
.DotaTooltip .overview_StatVal {
	position:absolute;
	font-size:14px;
	font-weight:bold;
}
.DotaTooltip .overview_IntVal {
	top:2px;
	left:21px;
}
.DotaTooltip .overview_AgiVal {
	top:23px;
	left:21px;
}
.DotaTooltip .overview_StrVal {
	top:44px;
	left:21px;
}
.DotaTooltip .overview_AttackVal {
	top:2px;
	left:133px;
}
.DotaTooltip .overview_SpeedVal {
	top:23px;
	left:133px;
}
.DotaTooltip .overview_DefenseVal {
	top:44px;
	left:133px;
}
.DotaTooltip .primaryVal {
	color:#fefefe;
}
.DotaTooltip .heroName {
	text-align:center;
	padding-bottom:2px;
	font-family:KoreanFont,georgia,serif;
	font-weight:normal;
	/*text-transform:uppercase;*/
	letter-spacing:2px;
	font-size:16px;
	color:#d9d9d9;
}
.DotaTooltip .heroRoles {
	text-align:center;
	color:#939393;
	font-family:KoreanFont,arial,helvetica,sans-serif;
	font-size:12px;
	padding:4px 0 6px 0;
}
.DotaTooltip .heroAttackCability {
	color:#ffffff;
}
.DotaTooltip .BaseArrow {
	display:block !important;
	position:absolute;
	width:29px;
	height:34px;
	top:20px;
	z-index:101;
}
.DotaTooltip .ArrowLeft:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(17, 17, 17, 0);
	border-right-color: #111;
	border-width: 20px;
	margin-top: -19px;
}
.DotaTooltip .ArrowRight:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(17, 17, 17, 0);
	border-left-color: #111;
	border-width: 20px;
	margin-top: -19px;
	margin-left: -29px;
}
