.DotaTooltipOptions {
  overflow: hidden;
  height: 26em;
}

div, a, p, h1, h2, h3, h4, h5, h6 {
  color: #322;
  margin: 0.2em 0; padding: 0; border: 0;
  line-height: 1.2em;
}

h1 {
  display: inline;
  font-weight: bold;
}

h4, p {
  display: inline-block;
  margin: 1em 0.5em 0.4em 0;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #68F;
}


.BaseFontSizeWrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.BaseFontSizeWrapper > input[type=range] {
  flex: 1 1 auto;
  width: 100%;
}
.BaseFontSizeWrapper > input[type=number] {
  flex: 0 0 3em;
  width: 3em;
  text-align: center;
  margin: 0 0.5em;
  border: none;
  background: #EEE;
}
.BaseFontSizeWrapper > span {
  flex: 0 0 1.5em;
  margin: 0.3em 0 0 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.KeywordSpecificity {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.DevMode {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;

  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 10s;
}

.DevMode:hover {
  opacity: 1;
}
