/* GENERAL */
.DotaTooltip {
  /* initialization for parameters
     that are governed by javascript */
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0.95;

  /* customization parameter */
  font-size: 12px;

  font-family: helvetica,verdana,arial,sans-serif;
  font-style: normal;
	position: absolute;
	text-align: left;
	float: left;
	background-color: #111;
	width: calc(27em + 40px);
	padding: 1.5em;
  margin: 0.75em;
	border: solid #000 1px;
  border-radius: 0.9em;
	z-index: 2000000000;

  background: -moz-linear-gradient(top, #2e2e2d, #000000);
  background: -webkit-linear-gradient(top, #2e2e2d, #000000);
  background: -o-linear-gradient(top, #2e2e2d, #000000);
  background: -moz-linear-gradient(top, #2e2e2d, #000000);
  background: linear-gradient(top, #2e2e2d, #000000);
  transition: visibility 0.2s, opacity 0.2s linear;
}
.DotaTooltip br + br {
  display: block;
  content: "";
  margin: 0.25em 0;
  height: 0.25em;
}
.DotaTooltip img {
  width: auto;
  height: 100%;
}


/* Font colors */
.DotaTooltip .quality_rare {
	color:#1a87f9;
}
.DotaTooltip .quality_artifact {
	color:#e29b01;
}
.DotaTooltip .quality_secret_shop {
	color:#ffffff;
}
.DotaTooltip .quality_consumable {
	color:#1d80e7;
}
.DotaTooltip .quality_common {
	color:#2bab01;
}
.DotaTooltip .quality_epic {
	color:#b812f9;
}
.DotaTooltip .quality_component {
	color:#ffffff;
}
.DotaTooltip .abilityDmg .attribVal, .DotaTooltip .abilityAttrib .attribVal {
	color:#888888;
}
.DotaTooltip .attribValText {
	color:#c0c0c0;
}
.DotaTooltip .abilityTarget .attribVal {
	color:#ffffff;
}
.DotaTooltip .attribVal {
	color:#fbb040;
}

/* ITEM: icon and name */
.DotaTooltip .itemIcon {
	float:left;
	height: 4.666em;
  margin-right: 1.5em;
}
.DotaTooltip > .itemName {
	margin: 0.582em 0 0.25 0.683em;
	color:#ffffff;
	font-size: 1.5em;
	font-family:KoreanFont,georgia,serif;
	text-transform:uppercase;
}
.DotaTooltip .itemCMB {
	padding: 0.333em 0;
}
/* ITEM: Gold cost */
.DotaTooltip .goldIcon {
	float:left;
  height: 1.5em;
	margin: 0.5em 0.5em 0 0;
}
.DotaTooltip .goldCost {
	font-weight:bold;
	color:#f5c433;
	font-size: 1.25em;
  margin-top: 0.5em;
}
/* ITEM: notes? I don't think this is ever used */
.DotaTooltip .notes {
	font-weight:bold;
	color:#6fe771;
	font-size: 1.165em;
	line-height: 1.75em;
	padding-left: 0.166em;
	padding-bottom: 0.666em;
}
/* ITEM: description */
.DotaTooltip .description {
	font-weight:bold;
	color:#c0c0c0;
	font-size: 1.165em;
	line-height: 1.25em;
	margin: 0.666em 0 0.666em 0;
	padding-left: 0.166em;
}
/* ITEM: attributes */
.DotaTooltip .attribs {
	font-weight:bold;
	color:#7a7a7a;
	font-size: 1.25em;
	line-height: 1.333em;
	margin: 0 0 0 0.916em;
	padding-left: 0.166em;
}
/* ITEM: Cooldown & Mana */
.DotaTooltip_item .cooldownMana {
  font-size: 1.2em;
	color:#fbb040;
  margin: 0.75em 0 0 0;
	height: 2em;
  line-height: 2em;
}
/* ITEM: lore */
.DotaTooltip .lore {
	clear:right;
	color:#afafaf;
	font-size: 0.916em;
	line-height: 1.25em;
  margin: 0.5em 0 0 0;
	padding: 0.333em 0 0.333em 0.333em;
}

/* ABILITY: icon */
.DotaTooltip .abilityIcon {
	float:left;
	height: 4.666em;
  overflow: hidden;
  margin-right: 1.5em;
}
.DotaTooltip .abilityIcon img {
	height: 100% !important;
  width: auto !important;
}
/* ABILITY: name */
.DotaTooltip .abilityName {
  float: left;
  font-size: 1.5em;
	font-weight:normal;
  line-height: 1.5em;
	color:#ffffff;
	font-family:KoreanFont,georgia,serif;
	text-transform:uppercase;
}
/* ABILITY: lines around targetting */
.DotaTooltip .abilityHR1, .DotaTooltip .abilityHR2 {
	background-repeat:no-repeat;
	height: 0.166em;
	width: 100%;
	margin: 0.6em 0;
	/* background: url( 'https://cdn.steamstatic.com/apps/dota2/images/tooltips/abil_hr_1.png' ) repeat-x; */
  background-color: #626262;
}
/* ABILITY: targetting */
.DotaTooltip .abilityTarget {
	color:#ffffff;
	font-size: 1.165em;
	font-family:KoreanFont,arial, helvetica, sans-serif;
	font-weight:bold;
	line-height: 1.25em;
	padding: 0.15em 0;
}
/* ABILITY: description */
.DotaTooltip .abilityDesc {
	color:#c6c6c6;
	line-height: 1.2em;
	font-size: 1.25em;
	font-weight:bold;
	padding: 0.222em 0;
}
/* ABILITY: notes */
.DotaTooltip .abilityNotes {
	color:#6fe771;
	line-height: 1.2em;
	font-size: 1.25em;
	font-weight:bold;
  margin-bottom: 0.5em;
}
/* ABILITY: damage & attributes */
.DotaTooltip .abilityDmg, .DotaTooltip .abilityAttrib {
	font-size: 1.165em;
	font-family: KoreanFont,arial, helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.333em;
	color:#c6c6c6;
	margin: 0.333em 0;
}
/* ABILITY: cooldown & mana */
.DotaTooltip .abilityCMB {
  height: 2.4em;
	padding: 0.333em 0;
  margin: 0.166em 0 0.5em 0;
}
.DotaTooltip .abilityCMB .cooldownMana {
	color:#fbb040;
	height: 100%;
}
.DotaTooltip .abilityCMB .mana,.DotaTooltip .abilityCMB .cooldown {
	color:#777777;
	font-family:KoreanFont,arial, helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 2.0em;
  height: 100%;
	font-weight:normal;
}
.DotaTooltip .manaImg, .DotaTooltip .cooldownImg {
	margin:0 0.5em 0 0;
	display:block;
	float:left;
}
.DotaTooltip .cooldown {
  width: 50%;
}
.DotaTooltip .mana {
	float:right;
  width: 50%;
}
/* ABILITY: lore */
.DotaTooltip .abilityLore {
	color:#a8a8a8;
	font-family:KoreanFont,arial, helvetica, sans-serif;
	font-size: 0.9em;
	line-height: 1.5em;
	text-align:left;
}

/* HERO:  */
.DotaTooltip .DotaTooltip_hero {
  margin: 0; padding: 0; border: 0;
}
.DotaTooltip .heroStats {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background: none;
}
.DotaTooltip .heroName {
	text-align:center;
	padding-bottom: 0.5em;
	font-family: KoreanFont,georgia,serif;
	font-weight:normal;
	text-transform: uppercase;
	letter-spacing: 0.111em;
	font-size: 1.2em;
	color:#d9d9d9;
}
.DotaTooltip .heroRoles {
	text-align:center;
	color:#939393;
	font-family:KoreanFont,arial,helvetica,sans-serif;
	font-size: 1.2em;
	padding: 0.333em 0 0.5em 0;
}
.DotaTooltip .heroAttackCability {
  margin: 0 0.75em;
	color:#ffffff;
}
.DotaTooltip .heroPortraitStats {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  margin: 0; padding: 0; border: 0;
}
.DotaTooltip .heroPrimaryPortraitHolder {
  position: relative;
  float: left;
  height: calc(22.665em * 0.5);
  width: calc(19.582em * 0.5);
  margin-right: 0.75em;
}
.DotaTooltip .heroPrimaryPortraitImage {
  position: absolute;
}
.DotaTooltip .heroPrimaryPortraitOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 102%;
}
.DotaTooltip .StatVal {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  color:#afafaf;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 3.3em;
  background: none;
}
.DotaTooltip .StatVal .StatText {
  margin-left: 3em;
}
.DotaTooltip .StatVal img.Attr,
.DotaTooltip .StatVal img.BaseStat {
  position: absolute;
  margin: 0.6em 0;
  float: left;
  top: 0em; left: 0em;
}
.DotaTooltip .StatVal img.Attr {
  width: 2.3em;
  height: 2.3em;
}
.DotaTooltip .StatVal img.BaseStat {
  width: 2.7em;
  height: 2em;
}
/* All of these are used to selectively show primary attribute based on class-id combo */
.DotaTooltip .StatVal img#overviewIcon_Primary_str,
.DotaTooltip .StatVal img#overviewIcon_Primary_int,
.DotaTooltip .StatVal img#overviewIcon_Primary_agi {
  top: -0.05em;
  width: 2.4em;
  height: 2.4em;
}
.DotaTooltip .StatVal img#overviewIcon_Primary_str.overviewIcon_Primary_agi,
.DotaTooltip .StatVal img#overviewIcon_Primary_str.overviewIcon_Primary_int,
.DotaTooltip .StatVal img#overviewIcon_Primary_agi.overviewIcon_Primary_str,
.DotaTooltip .StatVal img#overviewIcon_Primary_agi.overviewIcon_Primary_int,
.DotaTooltip .StatVal img#overviewIcon_Primary_int.overviewIcon_Primary_agi,
.DotaTooltip .StatVal img#overviewIcon_Primary_int.overviewIcon_Primary_str {
  opacity: 0;
}
.DotaTooltip .StatVal img#overviewIcon_Primary_str.overviewIcon_Primary_str,
.DotaTooltip .StatVal img#overviewIcon_Primary_agi.overviewIcon_Primary_agi,
.DotaTooltip .StatVal img#overviewIcon_Primary_int.overviewIcon_Primary_int {
	opacity: 1;
}
